@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
nav{
    /* background-color: #fff; */
    height: 10%;
    /* display: flex; */
}
nav ul{
    display: flex;
    justify-content: center;
    
}
#contact-nav
{
    color: white;
    text-decoration: none;
}
nav ul li{
    padding:0 100px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    text-decoration-style: none;
    /* margin-right: 80px; */
}
nav ul li:hover{
    border-bottom: 2px solid white;
    
    transition: 0.3s;
}
header{
    height: 100vh;
    width: 100vw;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

header h2{
    color: white;
    font-size: xx-large;
    position: relative;
    left: 100px;
    top: 300px;
}

header p{
    color: white;
    font-size: larger;
    position: relative;
    left: 100px;
    top: 350px;
    
}

header span{
    background-color: white;
    padding:3px;
    color:#CF0A0A;
}

header button{
    padding: 6px 12px;
    position: relative;
    left: 20%;
    top: 49%;
    font-size: 16px;
    color:white;
    background-color: black;
    border: 1px solid white;
    border-radius: 2px;
    font-family: 'Roboto Condensed', sans-serif;
}

header button:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    border: 1px solid black;
}

/*main*/

main{
    height: 200vh;
    width: 100vw;
    background-color: black;
}
main h1{
    color: white;
    font-size: 45px;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 43%;
    top: 7%;
}
main p{
    color: white;
    font-size: 18px;
    position: relative;
    top: 9%;
    left: 43%;
}
.pic{
    height: 250px;
    width: 400px;
    background-color: white;
    position: relative;
    margin-left: 135px;
    margin-top: 13px;
    background-image: url(about1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid white;
    border-radius: 3px;
}
.skills{
    color: white;
    position: relative;
    left: 43%;
    top: -7%;
    border-bottom: 2px solid red;
    font-weight: 600;
    font-size: 17px;
    
}
.skill-1{
    color: orange;
    font-size: 18px;
    position: relative;
    left: 43%;
    top: -5%;
}
.skill-2{
    color: orange;
    font-size: 18px;
    position: relative;
    left: 43%;
    top: -3%;
}
.lang{
    color: white;
    position: relative;
    left: 43%;
    top: -2%;
}

/* work  */
.Work h1{
    color: white;
    font-size: 45px;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;   
    margin-top: 10%;
    position: relative;
    left: 44%;
}
#box-block{
    margin-top: 55px;
    height: 500px;
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#box1{
    height: 430px;
    width: 320px;
    border: 3px solid white;
    border-radius: 5px;
}
#box2{
    height: 430px;
    width: 320px;
    border: 3px solid white;
    border-radius: 5px;
}
#box3{
    height: 430px;
    width: 320px;
    border: 3px solid white;
    border-radius: 5px;
}


footer
{
    
    background-color: rgb(126, 123, 123);
    height: 30vh;
    width: 100vw;
    margin-top: 120px;
    font-size: larger;
    font-weight: bold;
}
footer p
{
    margin-top: 55px;
}